# Strapi
API_URL=your_api_url
API_TOKEN=your_strapi_token

# Cloudflare
CF_ACCESS_ID=your_cloudflare_zero_trust_access_id
CF_ACCESS_SECRET=your_cloudflare_zero_trust_access_secret

#Deepseek
DEEPSEEK_API_KEY=your_deepseek_api_key
