---
import BasicStyle from "../layouts/BasicStyle.astro";
import { getFriend } from "../api/Friend";
import Navbar from "../components/Navbar.astro";

const friends = await getFriend();
---

<BasicStyle title="Firends" description="Firends Page">
  <div
    class="flex flex-col items-center bg-linear-to-b from-white via-slate-50 dark:from-slate-950 dark:via-slate-900"
  >
    <Navbar />

    <h1 class="text-3xl mt-20 mr-8">我的朋友们</h1>

    {
      friends.data?.map((friend) => (
        <a
          class="text-lg font-medium mt-4 mr-4 mb-4 ml-4"
          href={friend.links}
        >
          <div class="flex flex-col border-2 rounded-lg hover:bg-slate-200 mt-4 w-72 h-36">
            <p class="mt-4 ml-4 text-xl font-semibold">
              {friend.name}
            </p>
            <p class="mt-2 ml-4 text-lg">{friend.descriptions}</p>
          </div>
        </a>
      ))
    }
  </div>
</BasicStyle>
