---
import BasicStyle from "../layouts/BasicStyle.astro";
import PostCard from "../components/PostCard.astro";
import { listPosts } from "../api/Post";
import unwrap from "../libs/unwrap";
import Navbar from "../components/Navbar.astro";

const posts = unwrap((await listPosts()).data).map((post) => post);
// console.log("Posts:", JSON.stringify(posts, null, 2));
---

<BasicStyle title="Seamain's Blog" description="This is my home page.">
  <div class="flex flex-col items-center">
    <Navbar />
    <PostCard post={posts[0]} width="840px" />
    <div class="grid grid-cols-2 gap-4 sm:flex sm:flex-col md:flex md:flex-col">
      {
        posts
          .slice(1, 5)
          .map((post) => <PostCard ml="max-h-52" post={post} width="410px" />)
      }
    </div>
  </div>
</BasicStyle>
