---
import { fromMarkdown } from "mdast-util-from-markdown";
import { simplifyMarkdownAST } from "../libs/simplifyMarkdown";
import type Post from "../interfaces/Post";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const ast = fromMarkdown(post.content);
const content = simplifyMarkdownAST(ast);
---

<div class="prose prose-slate max-w-none text-slate-700 dark:prose-invert dark:text-slate-300"></div>
