---
import Footer from "./Footer.astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"

interface Props {
  description: string;
  ml?: string;
}

const { description, ml } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>Seamain's Blog</title>
  </head>
  <body class={ml + " overflow-x-hidden font-mono"}>
    <slot />
    <Footer />
  </body>
  <SpeedInsights/>
</html>
