---
import Social from "../components/Social.astro";
---

<footer class="flex flex-col items-center mt-32">
  <p class="text-xl font-semibold">Follow Me</p>
  <div class="flex flex-row">
    <Social platform="Github" username="Seamain" />
    <Social platform="X" username="seamain37" />
    <Social platform="Facebook" username="profile.php?id=100090448314423" />
  </div>
  <a href="https://icp.gov.moe/?keyword=20220546" target="_blank"
    >萌ICP备20220546号
  </a>
  <p>Created by <a href="https://seamainjimmy.com">Jimmy&Seamain</a></p>
  <a
    href="https://ipw.cn/ipv6webcheck/?site=seamain.org/"
    title="本站支持IPv6访问"
    target="_blank">本站支持IPv6访问</a
  >
</footer>
